@model Logger

<hr/>
<div>
    <a asp-action="Index">Back to List</a>
</div>

<hr />
<h1>/log/@Model.Name</h1>

@foreach (var req in Model.Requests)
{
    <hr/><hr/><hr/>
    <table class="table">
        <thead>
            <tr valign="top">
                <th><b>DateTime:</b></th>
                <th>@req.DateTime</th>
            </tr>
        </thead>
        <tbody>
            <tr valign="top">
                <td><b>Method:</b></td>
                <td>@req.Method</td>
            </tr>
            <tr valign="top">
                <td><b>Headers:</b></td>
                <td>
                    @foreach(var header in req.Headers)
                    {
                        <text>@header.Key:@header.Value</text><br />
                    }
                </td>
            </tr>
            <tr valign="top">
                <td><b>Body:</b></td>
                <td>
                    <pre>@req.Body</pre>
                </td>
            </tr>
        </tbody>
    </table>
}
